<h4>Set Player Name</h4>

<form method='post' action='/set_name'>
  <input type="text" name="player_name" placeholder="Enter your name..." /><br/>
  <input type="submit" class="btn"/>
</form>
<!-- <%= session[:deck].size %> cards ready to go  -->
<!-- <% session[:deck].each do |suit, card| %> -->
  <!-- <img class="img-rounded" src="images/cards/<%= suit %>_<%= card %>.jpg" /> -->
<!-- <% end %> -->