<h3>Place Bet</h3>
You have $<%= session[:player_chips] %>
<form method='post' action='/place_bet'>
  <input type="text" name="player_bet" placeholder="Enter your bet..." /><br/>
  <input type="submit" class="btn"/>
</form>